<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Cantora+One&family=Chivo+Mono:wght@600&family=Racing+Sans+One&display=swap" rel="stylesheet">
    <title>Chat Helpdesk - Reply</title>
</head>
<body>
    <div class="reply">
        <h1>CHATBOT HELPDESK - REPLY</h1>
        <div>
            <h3><strong>Condition:</strong> {{ condition }}</h3>
            <h3><strong>Severity:</strong> {{ severity }}</h3>
        </div>
        <br>
        <div class="response">
            <h3><strong>Chatbot Response</strong></h3>
            <p id="speakReply">{{ reply }}</p>
            
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, maxime amet minus, repellendus, aperiam illo facilis debitis non qui nihil architecto a libero ipsum neque deleniti. Quasi quaerat optio voluptatem.</p> -->
        </div>
       
    </div>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            const replyText = "{{ reply }}";
            const speech = new SpeechSynthesisUtterance(replyText);
            speechSynthesis.speak(speech);
        });
    </script>
    
</body>



</html>